In [85]:
from keras.models import Sequential

In [86]:
import numpy as np
import pandas as pd

In [87]:
model = Sequential()

In [88]:
from keras.layers import Dense

In [89]:
model.add(Dense(units = 32 , activation = 'relu' , input_dim = 3))
model.add(Dense(units = 16 , activation = 'relu' ,input_dim =3))
model.add(Dense(units = 6 , activation = 'sigmoid',input_dim = 3))

In [6]:
#compile
# optimizer
# loss function : to calculate cost
# metrics

In [90]:
model.compile(optimizer = 'adam' , loss = 'mean_squared_error' , metrics = ['accuracy'])

In [11]:
#fitting the data 
# x
# y
# epocks = no. of iterations we need so that the forward and the backward propagation should run
# batch_size
# validation_data = x_test , y_test

In [64]:

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

C:\Users\singh\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [65]:
train = pd.read_csv("customer_history.csv" , delimiter = ',' , encoding = "ISO-8859-1")
train

,productID,productTypeCode,No.of unit,customerID,unit price,productName,productType
0,1,CAT1,5,CUS@$,2000,mobile,1
1,2,CAT5,8,CUS@$,2000,mobile,1
2,3,CAT8,4,CUS@$,2000,T-Shirt,2
3,4,CAT1,5,CUS@$,6000,T-Shirt,2
4,5,CAT5,8,CUS@$,1000,bat,3
5,6,CAT5,5,CUS@$,6000,T-Shirt,2
6,7,CAT3,8,CUS@$,6000,mobile,1
7,8,CAT10,4,CUS@$,5000,pendrive,4
8,9,CAT9,8,CUS@$,5000,bat,3
9,10,CAT1,3,CUS@$,3000,bat,3
10,11,CAT1,7,CUS@$,2000,Shoes,5
11,12,CAT4,1,CUS@$,5000,mobile,1
12,13,CAT7,5,CUS@$,6000,pendrive,4
13,14,CAT1,8,CUS@$,5000,laptop,6
14,15,CAT8,5,CUS@$,1000,bat,3
15,16,CAT7,8,CUS@$,4000,T-Shirt,2
16,17,CAT6,4,CUS@$,2000,laptop,6
17,18,CAT7,4,CUS@$,4000,pendrive,4
18,19,CAT2,1,CUS@$,1000,Shoes,5
19,20,CAT2,3,CUS@$,4000,pendrive,4
20,21,CAT1,8,CUS@$,4000,bat,3
21,22,CAT9,8,CUS@$,5000,laptop,6
22,23,CAT1,8,CUS@$,6000,mobile,1
23,24,CAT7,4,CUS@$,2000,bat,3
24,25,CAT5,8,CUS@$,1000,Shoes,5
25,26,CAT7,7,CUS@$,3000,Shoes,5
26,27,CAT8,8,CUS@$,6000,laptop,6
27,28,CAT4,5,CUS@$,3000,laptop,6
28,29,CAT2,3,CUS@$,3000,mobile,1
29,30,CAT8,7,CUS@$,2000,pendrive,4
...,...,...,...,...,...,...,...
41,42,CAT10,5,CUS@$,5000,mobile,1
42,43,CAT6,4,CUS@$,2000,T-Shirt,2
43,44,CAT9,1,CUS@$,6000,pendrive,4
44,45,CAT10,5,CUS@$,3000,Shoes,5
45,46,CAT10,3,CUS@$,2000,Shoes,5
46,47,CAT8,1,CUS@$,3000,pendrive,4
47,48,CAT1,5,CUS@$,1000,mobile,1
48,49,CAT4,1,CUS@$,6000,T-Shirt,2
49,50,CAT8,7,CUS@$,3000,mobile,1
50,51,CAT6,8,CUS@$,3000,laptop,6
51,52,CAT9,5,CUS@$,1000,bat,3
52,53,CAT2,7,CUS@$,2000,mobile,1
53,54,CAT6,5,CUS@$,2000,Shoes,5
54,55,CAT7,8,CUS@$,4000,laptop,6
55,56,CAT10,7,CUS@$,4000,mobile,1
56,57,CAT8,8,CUS@$,3000,mobile,1
57,58,CAT9,3,CUS@$,2000,Shoes,5
58,59,CAT3,1,CUS@$,2000,Shoes,5
59,60,CAT7,8,CUS@$,3000,bat,3
60,61,CAT5,5,CUS@$,6000,T-Shirt,2
61,62,CAT8,1,CUS@$,2000,laptop,6
62,63,CAT6,8,CUS@$,3000,bat,3
63,64,CAT3,4,CUS@$,4000,pendrive,4
64,65,CAT9,8,CUS@$,4000,Shoes,5
65,66,CAT9,5,CUS@$,5000,laptop,6
66,67,CAT7,8,CUS@$,6000,T-Shirt,2
67,68,CAT9,5,CUS@$,5000,Shoes,5
68,69,CAT5,1,CUS@$,6000,Shoes,5
69,70,CAT2,1,CUS@$,5000,mobile,1
70,69,CAT4,7,CUS@$,5000,Shoes,5

In [66]:
del train['productTypeCode']
del train['customerID']
del train['productName']
train

    productID  No.of unit  unit price  productType
0           1           5        2000            1
1           2           8        2000            1
2           3           4        2000            2
3           4           5        6000            2
4           5           8        1000            3
5           6           5        6000            2
6           7           8        6000            1
7           8           4        5000            4
8           9           8        5000            3
9          10           3        3000            3
10         11           7        2000            5
11         12           1        5000            1
12         13           5        6000            4
13         14           8        5000            6
14         15           5        1000            3
15         16           8        4000            2
16         17           4        2000            6
17         18           4        4000            4
18         19           1        1000            5
19         20           3        4000            4
20         21           8        4000            3
21         22           8        5000            6
22         23           8        6000            1
23         24           4        2000            3
24         25           8        1000            5
25         26           7        3000            5
26         27           8        6000            6
27         28           5        3000            6
28         29           3        3000            1
29         30           7        2000            4
..        ...         ...         ...          ...
41         42           5        5000            1
42         43           4        2000            2
43         44           1        6000            4
44         45           5        3000            5
45         46           3        2000            5
46         47           1        3000            4
47         48           5        1000            1
48         49           1        6000            2
49         50           7        3000            1
50         51           8        3000            6
51         52           5        1000            3
52         53           7        2000            1
53         54           5        2000            5
54         55           8        4000            6
55         56           7        4000            1
56         57           8        3000            1
57         58           3        2000            5
58         59           1        2000            5
59         60           8        3000            3
60         61           5        6000            2
61         62           1        2000            6
62         63           8        3000            3
63         64           4        4000            4
64         65           8        4000            5
65         66           5        5000            6
66         67           8        6000            2
67         68           5        5000            5
68         69           1        6000            5
69         70           1        5000            1
70         69           7        5000            5

[71 rows x 4 columns]

In [67]:
from sklearn.model_selection import train_test_split

In [68]:
train_data = np.array(train.iloc[: , :3])
train_target = np.array(train.iloc[: , 3:4])
train_data

array([[   1,    5, 2000],
       [   2,    8, 2000],
       [   3,    4, 2000],
       [   4,    5, 6000],
       [   5,    8, 1000],
       [   6,    5, 6000],
       [   7,    8, 6000],
       [   8,    4, 5000],
       [   9,    8, 5000],
       [  10,    3, 3000],
       [  11,    7, 2000],
       [  12,    1, 5000],
       [  13,    5, 6000],
       [  14,    8, 5000],
       [  15,    5, 1000],
       [  16,    8, 4000],
       [  17,    4, 2000],
       [  18,    4, 4000],
       [  19,    1, 1000],
       [  20,    3, 4000],
       [  21,    8, 4000],
       [  22,    8, 5000],
       [  23,    8, 6000],
       [  24,    4, 2000],
       [  25,    8, 1000],
       [  26,    7, 3000],
       [  27,    8, 6000],
       [  28,    5, 3000],
       [  29,    3, 3000],
       [  30,    7, 2000],
       [  31,    3, 6000],
       [  32,    7, 5000],
       [  33,    5, 3000],
       [  34,    8, 2000],
       [  35,    3, 1000],
       [  36,    1, 5000],
       [  37,    4, 2000],
       [  38,    1, 3000],
       [  39,    3, 4000],
       [  40,    5, 5000],
       [  41,    5, 6000],
       [  42,    5, 5000],
       [  43,    4, 2000],
       [  44,    1, 6000],
       [  45,    5, 3000],
       [  46,    3, 2000],
       [  47,    1, 3000],
       [  48,    5, 1000],
       [  49,    1, 6000],
       [  50,    7, 3000],
       [  51,    8, 3000],
       [  52,    5, 1000],
       [  53,    7, 2000],
       [  54,    5, 2000],
       [  55,    8, 4000],
       [  56,    7, 4000],
       [  57,    8, 3000],
       [  58,    3, 2000],
       [  59,    1, 2000],
       [  60,    8, 3000],
       [  61,    5, 6000],
       [  62,    1, 2000],
       [  63,    8, 3000],
       [  64,    4, 4000],
       [  65,    8, 4000],
       [  66,    5, 5000],
       [  67,    8, 6000],
       [  68,    5, 5000],
       [  69,    1, 6000],
       [  70,    1, 5000],
       [  69,    7, 5000]], dtype=int64)

In [69]:
x_train , x_test , y_train , y_test = train_test_split(train_data , train_target)

In [91]:
model.fit(x = x_train , y = y_train , epochs = 100 )

ValueError: Error when checking target: expected dense_33 to have shape (6,) but got array with shape (1,)

In [17]:
predictions = model.predict(x_test)
print(predictions)
score = model.evaluate(x_test , y_test)
score

[[2.52605915e-19]
 [9.57700968e-01]
 [1.00000000e+00]
 [9.99999285e-01]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [3.05058181e-01]
 [9.99997973e-01]
 [1.00000000e+00]
 [3.49096805e-01]
 [3.77347344e-04]
 [6.31363879e-23]
 [1.00000000e+00]
 [6.82455286e-33]
 [8.68823670e-34]
 [0.00000000e+00]
 [6.81821593e-22]
 [6.14208943e-18]
 [1.00000000e+00]
 [1.00000000e+00]
 [7.55728932e-26]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.32488204e-13]
 [1.00000000e+00]
 [0.00000000e+00]
 [1.00000000e+00]
 [4.04943503e-25]
 [9.99994755e-01]
 [9.30718913e-19]
 [1.00000000e+00]
 [3.12037673e-17]
 [9.99999762e-01]
 [3.90341873e-26]
 [1.00000000e+00]
 [6.70601219e-21]
 [4.61075711e-09]
 [1.00000000e+00]
 [1.73573972e-05]
 [1.00000000e+00]
 [1.00000000e+00]
 [0.00000000e+00]
 [1.00000000e+00]
 [9.99999285e-01]
 [1.00000000e+00]
 [7.75539639e-31]
 [7.53924638e-38]
 [3.59531811e-07]
 [1.13785867e-27]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [9.99990344e-01]
 [0.00000000e+00]
 [7.07455912e-22]
 [6.97904990e-23]
 [1.00000000e+00]
 [1.00000000e+00]
 [7.21673924e-28]
 [9.99889612e-01]
 [0.00000000e+00]
 [8.81880606e-32]
 [0.00000000e+00]
 [1.00000000e+00]
 [1.18449114e-01]
 [1.59217519e-34]
 [1.00000000e+00]
 [8.82642439e-07]
 [0.00000000e+00]
 [9.99937057e-01]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [9.32642408e-10]
 [0.00000000e+00]
 [1.65813394e-35]
 [1.00000000e+00]
 [2.37849160e-15]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [4.91408279e-24]
 [0.00000000e+00]
 [1.00000000e+00]
 [2.90704548e-01]
 [3.98778677e-01]
 [0.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [0.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.00000000e+00]
 [1.08904615e-34]
 [1.00000000e+00]
 [0.00000000e+00]
 [9.83139217e-01]
 [1.24654256e-01]
 [3.70148271e-01]
 [1.00000000e+00]
 [2.70046696e-35]
 [1.38688177e-28]
 [7.53779590e-01]]
114/114 [==============================] - 0s 9us/step

[0.12681241255162795, 0.956140350877193]